{% extends '__main__.html' %}

{% block title %}
{{ '编辑文章' if blog.id > 0 else '新建文章'  }}
{% endblock %}
{% block beforehead %}
<script>
function submitBlog() {
    let name = document.getElementById('name').value
    let summary = document.getElementById('summary').value
    let content = document.getElementById('content').value
    if (name.trim() === '' || content.trim() === '') {
        UIkit.notification('缺少必填字段', 'danger')
        return false
    }
    fetch('{{action}}', {
        method: 'POST',
        body: JSON.stringify({
            name: name,
            summary: summary,
            content: content,
        }),
        headers: new Headers({
            'Content-type': 'application/json'
        })
    }).then(response => response.json())
    .catch(error => {
        UIkit.notification('请求异常', 'danger')
    })
    .then(data => {
        console.log(data)
        if (data.hasOwnProperty('error') && data.error !== '') {
            UIkit.notification(data.message, 'danger')
        } else {
            location.assign('/manage/blogs')
        }
    })
    return true
}
</script>

{% endblock %}

{% block main %}
<ul class="uk-breadcrumb">
    <li><a href="#">管理</a></li>
    <li><a href="/manage/blogs">文章管理</a></li>
    <li><span>{{ '编辑文章' if blog.id > 0 else '新建文章'}}</span></li>
</ul>

<form method="post" onsubmit="return false;" action="{{ action }}">
    <!-- <div class="uk-text-large">{{ '编辑文章' if blog.id > 0 else '新建文章'}}<span class="uk-text-small"> (带*的为必填内容)</span></div> -->
    <div class="uk-margin">
        <label class="uk-form-label" for="name">文章标题*</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="name" type="text" value="{{ blog.name }}" placeholder="标题">
        </div>
    </div>

    <div class="uk-margin uk-form-stacked">
        <label class="uk-form-label" for="summary">文章摘要(或为空,则截取正文前255个字符作为摘要)</label>
        <div class="uk-form-controls">
            <textarea class="uk-textarea" id="summary"  rows="5" placeholder="摘要">{{ blog.summary}}</textarea>
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label" for="content">正文*</label>
        <div class="uk-form-controls">
            <textarea class="uk-textarea" id="content" rows="10" placeholder="内容">{{ blog.content }}</textarea>
        </div>
    </div>

    <div class="uk-margin">
        <button type="submit" class="uk-button uk-button-primary" onclick="submitBlog()">保存</button>
        <a href="/manage/blogs" class="uk-button uk-button-primary"><i class="uk-icon-times"></i> 取消</a>
    </div>
</form>

{% endblock %}